.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
}

.no-display {
  display: none;
}

.background-form {
  background-color: #018193;
  opacity: 0.5;
}

textarea:focus,
input:focus {
  outline: none;
}

.height-padding {
  padding: 5px;
}

.width {
  width: 100%;
}
